<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240018970740-fj2kfku6evc2us12o5io6ouqnb4cvn81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240018970740-fj2kfku6evc2us12o5io6ouqnb4cvn81</string>
	<key>API_KEY</key>
	<string>AIzaSyAUNfo4MiqFDY1iNgQ2S1vIjKqSKaNJy4g</string>
	<key>GCM_SENDER_ID</key>
	<string>240018970740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasktoday</string>
	<key>PROJECT_ID</key>
	<string>tasktoday-ca9e6</string>
	<key>STORAGE_BUCKET</key>
	<string>tasktoday-ca9e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240018970740:ios:6f0960b4902e900927d921</string>
</dict>
</plist>